nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
}


nav a.active {
    background-color: #4c75af;
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    border-radius: 0.5em;
}