:root {
    --text: #eae9fc;
    --background: #0f0f15;
    --primary: #50a2ad;
    --secondary: #123148;
    --accent: #DDBEA8;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.horizontalAlign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    height: 70vh;
}

.horizontalAlign:nth-child(odd) {
    flex-direction: row-reverse;
    background-color: var(--secondary);
}

#homeImage {
    height: 100vh;
    width: 100vw;
    filter: brightness(30%);
}

#homeIcon {
    margin-top: 50vh;
    fill: transparent;
    stroke: var(--primary);
    stroke-width: 1px;
}

#homeIcon:hover {
    fill: var(--accent);
    stroke-width: 4.1px;
}

#homeBody {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

.image {
    max-inline-size: 50%;
    block-size: auto;
    object-fit: contain;
}

.secondaryButton {
    background-color: var(--primary);
    color: var(--text);
    font-size: 1em;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.secondaryButton:hover {
    background-color: var(--accent);
    color: #000;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}

.buttonSection {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#siteMap {
    display: flex;
    justify-content: space-around;
}

#siteMap a:hover {
    color: #fff;
}

footer {
    background-color: var(--secondary);
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3em;
    text-align: center;
}

/* Mobile screen responsiveness */
@media screen and (max-width: 768px) {
    .horizontalAlign {
        flex-direction: column;
        margin-top: 10%;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }

    .horizontalAlign:nth-child(odd) {
        background-color: var(--secondary);
        flex-direction: column;
    }

    .image {
        max-inline-size: 100%;
    }

    #homeIcon {
        margin-top: 35vh;
    }

    .content {
        font-size: 1.3em;
    }

    .buttonSection {
        margin-bottom: 5%;
    }

    #homeImage {
        display: none;
    }

    header {
        background-image: url("../images/stardew.gif");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 62% center;
    }
}

@media screen and (max-width: 992px) {
    #homeIcon {
        margin-top: 40vh;
    }
    .content {
        font-size: 1.2em;
    }
}

